.admission_form_container {
 
  margin: 2rem auto;
  padding: 2rem;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 80%;
 margin: auto;
}

.dashboard_label {
  display: block;
  margin: 1rem 0;
  font-size: 1.2rem;
  font-weight: bold;
}

input,
textarea,
select {
  width: 100%;
  padding: 0.5rem;
  margin: 0.5rem 0;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1.2rem;
}

.dashboard_select {
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='8' viewBox='0 0 12 8' fill='%231e1e1e' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 8L0 0h12L6 8zm0-2.105L9.464.947h-6.93L6 5.895z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 0.5rem center;
  background-size: 12px 8px;
}

.dashboard_button[type="submit"] {
  background-color: #4285f4;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  margin: 2rem 0 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dashboard_button[type="submit"]:hover {
  background-color: #3367d6;
}