@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');



.login-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  .login-page form{
    padding:50px;
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: -1px 0px 10px 0px;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .input {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    margin-top: 10px;

  }
  
  button {
    padding: 10px 20px;
    background-color: #0077ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 45%;
  }
.redInput{
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid red;
  width: 100%;
  margin-top: 10px;
}
  .Popup {
  color: red;
  }
  .whitepopup{
    padding: 10px 20px;
    background-color: #0077ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .redPopup{
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid red;
    width: 100%;
  }
  .school_icon{
    font-size: 40px;
  }

  .login_text{
    font-family: 'Josefin Sans', cursive;
  }

  .user-password-text {
    font-family: 'Josefin Sans', cursive;
  }