.login-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  .login-page form{
    padding:50px;
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .input {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;


  }
  
  button {
    padding: 10px 20px;
    background-color: #0077ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
.redInput{
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid red;
  width: 100%;
}
  .Popup {
  color: red;
  }
  .whitepopup{
    padding: 10px 20px;
    background-color: #0077ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .redPopup{
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid red;
    width: 100%;
  }